.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*  Navbar top fixed */
body {
/*  min-height: 5rem;
  padding-top: 5rem;*/
  padding-top: 70px;
}

/* Cards */
.painting_card {
  max-height: 225px;
  overflow: hidden;
}

/* Gallery */

h1.jg-h1 {
  text-align: center;
  vertical-align: middle;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
h1.jg-h1-secondary {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}
