.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer p {
  margin-bottom: .25rem;
}

/*
.navbar-collapse.collapse.show {
  max-height: 320px;
  overflow-y: auto;
}*/


.navbar-collapse.collapse.show {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.collapsing {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Menu */
/*
nav.navbar.fixed-top {
  max-height: 100%;
  background-color: rgb(41, 102, 216);
  overflow-y: auto;
}

@media (min-width: 992px) {
  nav.navbar.fixed-top {
      background-color: rgb(216, 41, 41);
      overflow-y: visible;
  }
}*/
/*
.navbar-collapse.collapse.show {
max-height: 280px;
  max-height: 100%;
  overflow-y: auto;
}*/

/*
@media (min-width: 992px) {
  navbar-collapse.collapse.show {
      overflow-y: visible;
  }
}*/

/*
nav.navbar.fixed-top {
  max-height: 100%;
  overflow-y: auto;
}

@media (min-width: 992px) {
  nav.navbar.fixed-top {
      overflow-y: visible;
  }
}
*/
/*
@media (max-width: 1199.98px) {
  dropdown-menu.show {
    background-color: rgb(216, 41, 41);
    max-height: 320px;
    overflow-y: auto;
  }
}*/
/*
dd-menu {
  @media (max-width: 1199.98px) {
    background-color: rgb(216, 41, 41);
    max-height: 320px;
    overflow-y: auto;
  }
}*/

/*
@media (min-width: 1200px) {
  dd-menu {      
    overflow-y: visible;
  }
} */

/*  Navbar top fixed */
body {
/*  min-height: 75px;*/
  padding-top: 5rem;
/*  padding-top: 75px;*/
}

/* Cards */
.painting_card {
  max-height: 225px;
  overflow: hidden;
}

/* Gallery */

h1.jg-h1 {
  text-align: center;
  vertical-align: bottom;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
h1.jg-h1-secondary {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}
