<div id="mmjgallery">
    <script>
      $('#mmgallery').justifiedGallery({
        rowHeight : 180,
        maxRowHeight: 270,
        margins: 3 ,
        border: 0,
        lastRow : 'nojustify',
        waitThumbnailsLoad: false
      }).on('jg.complete', function () {
        $('#mmgallery').lightGallery({
          preload: 2,
          hideBarsDelay: 1500,
          thumbnail:true,
          animateThumb: true,
          getCaptionFromTitleOrAlt: false,
          download: false
        });
      });
    </script>
</div>